.cart {
  max-width: 100%;
  margin: 10px auto 0 auto;
}

.cart__container {
  max-width: 1184px;
  margin: 20px auto 70px auto;
  display: flex;
  flex-direction: column;
}

.cart__title {
  max-width: 100%;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #17B111;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #17B111;
}

.cart__form {
  max-width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 290px;
  column-gap: 50px;
  align-items: flex-start;
}

.cart__card-list {
  max-width: 100%;
  min-height: 500px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 255px));
  grid-template-rows: min-content;
  gap: 30px;
}

.cart__warning {
  max-width: 100%;
  margin: 175px auto 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #AAAAAA;
  transition: 0.3s;
}

.cart__warning_active {
  color: red;
}

@media all and (max-width: 1280px) {
  .cart__container {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 786px) {

}

@media all and (max-width: 425px) {

}
