.cart {
  max-width: 100%;
  margin: 10px auto 0 auto;
}

.cart__container {
  max-width: 1184px;
  margin: 20px auto 70px auto;
  display: flex;
  flex-direction: column;
}

.cart__title {
  max-width: 100%;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #17B111;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #17B111;
}

.cart__form {
  max-width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 290px;
  column-gap: 50px;
  align-items: flex-start;
}

.cart__card-list {
  max-width: 100%;
  min-height: 500px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 255px));
  grid-template-rows: min-content;
  gap: 30px;
}

.cart__warning {
  max-width: 100%;
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #AAAAAA;
  text-align: center;
  transition: 0.3s;
}

.cart__warning_active {
  color: red;
}

@media all and (max-width: 1280px) {
  .cart__container {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .cart__container {
    margin: 20px auto 60px auto;
  }

  .cart__title {
    font-size: 24px;
    line-height: 29px;
  }

  .cart__form {
    grid-template-columns: 1fr 270px;
  }

  .cart__card-list {
    grid-template-columns: repeat(auto-fit, minmax(195px, 235px));
  }

  .cart__warning {
    font-size: 19px;
    line-height: 23px;
  }
}

@media all and (max-width: 786px) {
  .cart__container {
    max-width: calc(100% - 48px);
    margin: 15px auto 50px auto;
  }

  .cart__title {
    font-size: 18px;
    line-height: 22px;
  }

  .cart__form {
    margin-top: 20px;
    grid-template-columns: 1fr 230px;
  }

  .cart__card-list {
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(135px, 195px));
  }

  .cart__warning {
    font-size: 17px;
    line-height: 21px;
  }
}

@media all and (max-width: 425px) {
  .cart__container {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .cart__title {
    display: none;
  }

  .cart__warning {
    font-size: 19px;
    line-height: 23px;
  }
}
