.cart-card {
  max-width: 255px;
  margin: 0 auto;
  position: relative;
  border: 2px solid #E9E9E9;
  border-radius: 20px;
  box-sizing: border-box;
}

.cart-card__container {
  max-width: 100%;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
}

.cart-card__title {
  max-width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #17B111;
  text-align: center;
  cursor: pointer;
}

.cart-card__img {
  max-width: 100%;
  height: 156px;
  margin-top: 10px;
  object-fit: contain;
}

.cart-card__price {
  max-width: 100%;
  margin: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #617960;
  text-align: center;
}

.cart-card__container-price {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-card__count {
  min-width: 40px;
  margin: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #17B111;
  text-align: center;
}

.cart-card__btn {
  width: 40px;
  height: 40px;
  background-image: url(../../images/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.cart-card__btn_type_under {
  background-image: url(../../images/icon-minus.svg);
}

.cart-card__btn:hover {
  box-shadow: none;
}

.cart-card__sum {
  max-width: 100%;
  margin: 15px 0 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.cart-card__btn-delete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -23px;
  right: -23px;
  background-image: url(../../images/icon-delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

@media all and (max-width: 1024px) {
  .cart-card {
    max-width: 235px;
  }

  .cart-card__title {
    font-size: 16px;
    line-height: 19px;
  }

  .cart-card__img {
    height: 136px;
  }

  .cart-card__price {
    font-size: 19px;
    line-height: 23px;
  }

  .cart-card__sum {
    font-size: 19px;
    line-height: 23px;
  }

  .cart-card__btn-delete {
    width: 18px;
    height: 18px;
    top: -21px;
    right: -21px;
  }
}

@media all and (max-width: 768px) {
  .cart-card {
    max-width: 195px;
  }

  .cart-card__container {
    margin: 10px;
  }

  .cart-card__title {
    font-size: 13px;
    line-height: 16px;
  }

  .cart-card__img {
    margin-top: 5px;
    height: 111px;
  }

  .cart-card__price {
    font-size: 16px;
    line-height: 19px;
  }

  .cart-card__sum {
    font-size: 17px;
    line-height: 21px;
  }

  .cart-card__btn-delete {
    width: 15px;
    height: 15px;
    top: -18px;
    right: -18px;
  }
}

@media all and (max-width: 425px) {
  .cart-card {
    max-width: 135px;
    border-radius: 10px;
  }

  .cart-card__title {
    font-size: 10px;
    line-height: 12px;
  }

  .cart-card__img {
    height: 72px;
  }

  .cart-card__price {
    margin: 5px 0 10px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .cart-card__btn {
    width: 30px;
    height: 30px;
    background-size: 13px 13px;
  }

  .cart-card__count {
    min-width: 30px;
    font-size: 18px;
    line-height: 22px;
  }

  .cart-card__sum {
    margin-top: 20px;
    font-size: 15px;
    line-height: 18px;
  }

  .cart-card__btn-delete {
    width: 15px;
    height: 15px;
    top: -22px;
    right: 0;
  }
}
