/* line-background */
.container {
  background: linear-gradient(90deg,
  transparent calc(100% / 6 - 1px),
  rgba(0, 0, 0, 0.05) calc(100% / 6 - 1px),
  rgba(0, 0, 0, 0.05) calc(100% / 6),
  transparent calc(100% / 6),
  transparent calc((100% / 6) * 2 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 2 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 2),
  transparent calc((100% / 6) * 2),
  transparent calc((100% / 6) * 3 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 3 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 3),
  transparent calc((100% / 6) * 3)
  ),
  linear-gradient(90deg,
  transparent calc((100% / 6) * 4 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 4 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 4),
  transparent calc((100% / 6) * 4),
  transparent calc((100% / 6) * 5 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 5 - 1px),
  rgba(0, 0, 0, 0.05) calc((100% / 6) * 5),
  transparent calc((100% / 6) * 5)
  );
}
