.card-form {
  max-width: 100%;
  margin: 0;
  border-radius: 30px;
  background-color: #17B111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.card-form:hover {
  background-color: #45c141;
}

.card-form__calculator {
  margin-left: 31px;
  display: grid;
  grid-template-columns: 1fr 33px;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  gap: 4px 5px;
  z-index: 2;
}

.card-form__btn-triangle {
  width: 18px;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 0;
  background: 0;
  background-image: url('../../images/triangle.svg');
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;
  border: 0;
  transition: 0.5s;
  opacity: 1;
  cursor: pointer;
  box-sizing: content-box;
}

.card-form__btn-triangle_type_under {
  padding-top: 0;
  padding-bottom: 3px;
  transform: rotate(180deg);
  grid-row: 3/4;
}

.card-form__btn-triangle:hover {
  opacity: 0.5;
}

.card-form__count {
  width: 21px;
  margin: auto;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  grid-row: 2/3;
  cursor: default;
  text-align: center;
}

.card-form__count-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  grid-row: 2/3;
  cursor: default;
}

.card-form__btn {
  max-width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 21px 31px 21px 0;
  margin: auto;
  border: 0;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .card-form__calculator {
    margin-left: 21px;
  }

  .card-form__btn-triangle {
    padding-top: 2px;
    padding-bottom: 0;
  }

  .card-form__btn-triangle_type_under {
    padding-bottom: 2px;
    padding-top: 0;
  }

  .card-form__count {
    font-size: 16px;
    line-height: 20px;
  }

  .card-form__count-text {
    font-size: 16px;
    line-height: 20px;
  }

  .card-form__btn {
    align-self: center;
    font-size: 16px;
    line-height: 20px;
  }
}

@media all and (max-width: 768px) {
  .card-form__calculator {
    grid-template-columns: 1fr 29px;
    gap: 3px 4px;
  }

  .card-form__count {
    font-size: 16px;
    line-height: 19px;
  }

  .card-form__count-text {
    font-size: 16px;
    line-height: 19px;
  }

  .card-form__btn {
    padding: 18px 25px 18px 0;
    font-size: 16px;
    line-height: 19px;
  }
}

@media all and (max-width: 425px) {
  .card-form {
    border-radius: 20px;
  }

  .card-form__count {
    font-size: 15px;
    line-height: 18px;
  }

  .card-form__count-text {
    font-size: 15px;
    line-height: 18px;
  }

  .card-form__btn {
    font-size: 15px;
    line-height: 18px;
    padding: 18px 20px;
  }
}
