.extra {
  max-width: 1184px;
  margin: 0 auto;
}

.extra__container {
  max-width: 100%;
  padding-bottom: 87px;
}

.extra__title {
  max-width: 100%;
  margin: 0;
  padding: 0 0 12px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #17B111;
  border-bottom: 3px solid #17B111;
}

.extra__card-list {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1280px) {
  .extra {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .extra__container {
    padding-bottom: 67px;
  }

  .extra__title {
    font-size: 26px;
    line-height: 31px;
  }
}

@media all and (max-width: 768px) {
  .extra {
    max-width: calc(100% - 48px);
  }

  .extra__container {
    padding-bottom: 45px;
  }

  .extra__title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 11px;
  }
}
