.not-found {
  max-width: 596px;
  padding-top: 150px;
  margin: auto;
  display: grid;
  grid-template-columns: 90px minmax(201px, 1fr);
  grid-template-rows: auto;
  gap: 20px 35px;
}

.not-found__img {
  width: 90px;
  height: 110px;
  object-fit: contain;
  grid-column: 1/2;
  grid-row: 1/3;
}

.not-found__code-info {
  max-width: 100%;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 2/3;
}

.not-found__code {
  max-width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}

.not-found__text {
  max-width: 100%;
  margin: 0 0 0 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  grid-column: 2/3;
}

.not-found__description {
  max-width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  grid-column: 2/3;
}

.not-found__location-link {
  color: #1327E1;
}

.not-found__link {
  max-width: 100%;
  padding: 17px 32px;
  background-color: #D9D9D9;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  grid-column: 2/3;
  transition: 0.3s;
}

.not-found__link:hover {
  background-color: #17B111;
  color: #FFFFFF;
}

@media all and (max-width: 768px) {
  .not-found {
    max-width: 399px;
    padding-top: 90px;
    grid-template-columns: 80px minmax(201, 1fr);
    gap: 18px 30px;
  }

  .not-found__img {
    width: 80px;
    height: 90px;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .not-found__code-info {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .not-found__code {
    font-size: 40px;
    line-height: 48px;
  }

  .not-found__text {
    margin-top: 5px;
    margin-left: 0;
    font-size: 26px;
    line-height: 31px;
  }

  .not-found__description {
    grid-column: 1/3;
  }

  .not-found__link {
    grid-column: 1/3;
  }
}

@media all and (max-width: 425px) {
  .not-found {
    max-width: calc(100% - 44px);
    grid-template-columns: 50px 1fr;
    gap: 10px 25px;
  }

  .not-found__img {
    width: 50px;
    height: 60px;
  }

  .not-found__code {
    font-size: 30px;
    line-height: 36px;
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .not-found__description {
    font-size: 16px;
    line-height: 19px;
  }

  .not-found__link {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0;
  }
}
