.advantages {
  max-width: 100%;
  background-color: rgba(23, 177, 17, 0.8);
}

.advantages__container {
  max-width: 894px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 55px;
}

.advantages__title {
  max-width: 692px;
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #ffffff;
  text-align: center;
}

.advantages__description {
  max-width: 100%;
  margin: 39px 0 auto;
  display: grid;
  grid-template-columns: 104px 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 34px 69px;
}

.advantages__img {
  width: 100%;
  height: 105px;
  object-fit: cover;
}

.advantages__paragraph {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

@media all and (max-width: 1024px) {
  .advantages__container {
    max-width: 717px;
  }

  .advantages__title {
    max-width: 629px;
    font-size: 52px;
    line-height: 63px;
  }

  .advantages__description {
    grid-template-columns: 90px 1fr;
    gap: 29px 55px;
  }

  .advantages__img {
    height: 90px;
  }

  .advantages__paragraph {
    font-size: 22px;
    line-height: 27px;
  }
}

@media all and (max-width: 768px) {
  .advantages__container {
    padding-top: 27px;
    padding-bottom: 30px;
    max-width: 525px;
  }

  .advantages__title {
    max-width: 477px;
    font-size: 36px;
    line-height: 44px;
  }

  .advantages__description {
    margin-top: 24px;
    grid-template-columns: 55px 1fr;
    gap: 23px 34px;
  }

  .advantages__img {
    height: 55px;
  }

  .advantages__paragraph {
    font-size: 18px;
    line-height: 22px;
  }
}

@media all and (max-width: 574px) {
  .advantages__container {
    max-width: calc(100% - 48px);
  }

  .advantages__title {
    max-width: 100%;
  }
}
