.extra-card {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.extra-card:last-child {
  margin-bottom: 0;
}

.extra-card__img {
  width: 353px;
  height: 215px;
  object-fit: contain;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.extra-card__img:hover {
  opacity: 0.7;
}

.extra-card__info {
  max-width: 794px;
  margin: 0 0 0 37px;
  display: flex;
  flex-direction: column;
}

.extra-card__title {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #17B111;
}

.extra-card__container-link {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}

.extra-card__container-link:hover {
  text-decoration: underline #17B111;
}

.extra-card__subtitle {
  max-width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #17B111;
}

.extra-card__paragraph {
  max-width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #17B111;
}

.extra-card__container-price {
  max-width: 100%;
  margin: 22px 0 0 0;
  display: grid;
  grid-template-columns: 210px minmax(277px, 353px);
  align-items: center;
  justify-content: space-between;
}

.extra-card__price {
  margin: 20px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #617960;
}

@media all and (max-width: 1024px) {
  .extra-card__img {
    width: 314px;
    height: 202px;
  }

  .extra-card__info {
    margin-left: 15px;
  }

  .extra-card__container-price {
    margin-top: 2px;
  }
}

@media all and (max-width: 950px) {
  .extra-card__container-price {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 0;
  }

  .extra-card__price {
    margin: 10px 0 20px 0;
  }
}

@media all and (max-width: 768px) {
  .extra-card {
    margin-top: 34px;
  }

  .extra-card__img {
    width: 244px;
    height: 154px;
  }

  .extra-card__info {
    margin-left: 11px;
  }

  .extra-card__title {
    font-size: 18px;
    line-height: 22px;
  }

  .extra-card__subtitle {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
  }

  .extra-card__paragraph {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
  }

  .extra-card__container-price {
    margin-top: 4px;
  }

  .extra-card__price {
    margin-top: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media all and (max-width: 600px) {
  .extra-card {
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    margin: 34px auto 0 auto;
  }

  .extra-card__img {
    width: 100%;
  }

  .extra-card__info {
    margin-top: 5px;
    margin-left: 0;
  }

  .extra-card__container-price {
    max-width: 100%;
    width: 100%;
  }

  .extra-card__price {
    margin-bottom: 16px;
  }
}

@media all and (max-width: 425px) {
  .extra-card {
    max-width: 100%;
    margin-top: 15px;
  }

  .extra-card__img {
    width: 100%;
    height: 185px;
  }

  .extra-card__container-link {
    margin-top: 5px;
  }

  .extra-card__subtitle {
    margin-bottom: 0;
  }

  .extra-card__paragraph {
    display: none;
  }

  .extra-card__container-price {
    margin-top: 5px;
  }

  .extra-card__price {
    margin-bottom: 15px;
  }
}
