.set-card {
  margin: 0 auto;
  max-width: 344px;
  display: flex;
  flex-direction: column;
}

.set-card__img {
  width: 100%;
  height: 214px;
}

.set-card__title {
  margin: 15px auto 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #17B111;
}

.set-card__info {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.set-card__price {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #617960;
}

.set-card__btn-info {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8B9499;
  border: 0;
  background: transparent;
  transition: 0.3s;
}

.set-card__btn-info:hover {
  opacity: 0.7;
}

.set-card__description {
  width: 100%;
  margin: 6px 0 9px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #17B111;
}
