.complete-set__card {
  margin: 0 auto;
  max-width: 344px;
  display: flex;
  flex-direction: column;
}

.complete-set__img {
  width: 100%;
  height: 214px;
}

.complete-set__title {
  margin: 15px auto 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #17B111;
}

.complete-set__info {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.complete-set__price {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #617960;
}

.complete-set__btn-info {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8B9499;
  border: 0;
  background: transparent;
}

.complete-set__description {
  width: 100%;
  margin: 6px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #17B111;
}

.complete-set__btn-container {
  max-width: 100%;
  margin: 9px 0 0 0;
  border-radius: 30px;
  background-color: #17B111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.complete-set__btn-container:hover {
  opacity: 0.8;
}

.complete-set__calculator {
  margin: 3px 0 3px 31px;
  display: grid;
  grid-template-columns: 1fr 33px;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  gap: 4px 5px;
  z-index: 2;
}

.complete-set__btn-up {
  width: 18px;
  height: 14px;
  background: 0;
  background-image: url('../../images/triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  transition: 0.5s;
  opacity: 1;
}

.complete-set__btn-up:hover {
  opacity: 0.5;
}

.complete-set__count {
  width: 21px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  grid-row: 2/3;
  text-align: center;
}

.complete-set__count-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  grid-row: 2/3;
}

.complete-set__btn-under {
  width: 18px;
  height: 14px;
  background: 0;
  background-image: url('../../images/triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  transition: 0.5s;
  opacity: 1;
  transform: rotate(180deg);
  grid-row: 3/4;
}

.complete-set__btn-under:hover {
  opacity: 0.5;
}

.complete-set__btn {
  max-width: 228px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 21px 47px 21px 0;
  border: 0;
  background: transparent;
  color: #ffffff;
}
