.contacs {
  max-width: 226px;
  display: grid;
  grid-template-columns: 37px max-content;
  gap: 7px 21px;
  align-items: center;
  align-self: start;
}

.contacs__icon {
  width: 100%;
  height: 37px;
}

.contacs__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

.contacs__text_type_link {
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}

.contacs__text_type_link:hover {
  text-decoration: underline #17B111;
}

@media all and (max-width: 1024px) {
  .contacs {
    grid-template-columns: 32px max-content;
    gap: 3px 5px;
  }

  .contacs__icon {
    height: 32px;
  }
}

@media all and (max-width: 768px) {
  .contacs {
    max-width: 152px;
    grid-template-columns: 18px max-content;
    gap: 9px;
  }

  .contacs__icon {
    height: 18px;
  }

  .contacs__text {
    font-size: 12px;
    line-height: 15px;
  }
}
