.popup-tooltip__container {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  z-index: 12;
}

.popup-tooltip__container_type_success {
  border: 1px solid #17B111;
}

.popup-tooltip__container_type_error {
  border: 1px solid red;
}

.popup-tooltip__img {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  object-fit: cover;
}

.popup-tooltip__text {
  max-width: 100%;
  margin: 25px 25px 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

@media all and (max-width: 768px) {
  .popup-tooltip__container {
    max-width: 340px;
  }

  .popup-tooltip__img {
    width: 160px;
    height: 160px;
  }

  .popup-tooltip__text {
    margin: 25px 20px 35px;
    font-size: 32px;
    line-height: 39px;
  }
}

@media all and (max-width: 425px) {
  .popup-tooltip__container {
    max-width: 288px;
  }

  .popup-tooltip__img {
    margin-top: 25px;
    width: 140px;
    height: 140px;
  }

  .popup-tooltip__text {
    margin: 20px 15px 30px;
    font-size: 24px;
    line-height: 29px;
  }
}
