.complete-sets {
  max-width: 1184px;
  margin: 103px auto 0 auto;
}

.complete-sets__container {
  max-width: 100%;
  padding-bottom: 53px;
}

.complete-sets__title {
  max-width: 100%;
  margin: 0;
  padding: 0 0 12px 0;
  border-bottom: 3px solid #17B111;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #17B111;
}

.complete-sets__card-list {
  padding-top: 34px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  grid-template-rows: auto;
  gap: 34px 77px;
}

@media all and (max-width: 1280px) {
  .complete-sets {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .complete-sets__title {
    font-size: 26px;
    line-height: 31px;
  }

  .complete-sets__card-list {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px 55px;
  }
}
