.product {
  max-width: 100%;
  margin: 10px auto 0 auto;
}

.product__container {

}

.product__title {

}

.product__heading {

}

.product__img {

}

.product__description {

}

.product__container-price {

}

.product__price {

}

.product__property {

}

.product__subtitle {

}

.product__text {

}

.product__text_descr_type {

}

.product__concept {

}

.product__container-concept {

}

.product__capability-list {

}

.product__capability-item {

}

@media all and (max-width: 1280px) {
  .product__container {
    max-width: calc(100% - 96px);
  }
}
