.product {
  max-width: 100%;
  margin: 10px auto 0 auto;
}

.product__title {
  max-width: 1184px;
  margin: 30px auto 0 auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #17B111;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #17B111;
}

.product__container {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.product__heading {
  max-width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 415px 1fr;
  column-gap: 80px;
  justify-content: space-between;
}

.product__img {
  width: 100%;
  height: 245px;
  object-fit: contain;
  grid-column: 1/2;
  grid-row: 1/3;
}

.product__description {
  max-width: 100%;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #17B111;
}

.product__container-price {
  max-width: 100%;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 220px minmax(341px, 380px);
  justify-content: space-between;
  align-items: center;
}

.product__price {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #617960;
}

.product__property {
  max-width: 100%;
  margin: 25px auto 0 0;
  display: flex;
  flex-direction: column;
}

.product__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #17B111;
}

.product__text {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.product__text_color_gray {
  color: #949594;
}

.product__text_type_alone {
  margin-top: 0;
}

.product__concept {
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
}

/* Фон от края экрана до блока */
.product__concept::before {
  content: "";
  width: 100vw;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -100vw;
  background-color: #F6F6F6;
}

.product__container-concept {
  max-width: 1104px;
  margin: 0 auto 0 0;
  padding: 20px 0;
  background-color: #F6F6F6;
  border-radius: 0px 54px 54px 0px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 128px 1fr;
  column-gap: 35px;
}

.product__capability-list {
  margin: 0 0 25px 0;
  padding: 0 0 15px 0;
  border-bottom: 3px solid #17B111;
  list-style: none;
  grid-column: 1/3;
}

.product__capability-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 3px;
}

.product__capability-item:first-child {
  margin-top: 0;
}

@media all and (max-width: 1280px) {
  .product__container {
    max-width: calc(100% - 96px);
  }

  .product__concept {
    max-width: calc(100% - 96px);
  }
}
