.description {
  max-width: 1184px;
  margin: 21px auto 0 auto;
  display: flex;
  flex-direction: row;
}

.description__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.description__img {
  width: 470px;
  height: 466px;
  object-fit: contain;
}

.description__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #17B111;
}

.description__subtitle {
  margin: 10px auto 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #17B111;
}

.description__link {
  margin: 64px auto 0 0;
  border: 0;
  border-radius: 30px;
  background-color: #17B111;
  padding: 28px 53px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
}

.description__link:hover {
  opacity: 0.8;
}

@media all and (max-width: 1280px) {
  .description {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .description__img {
    width: 330px;
    height: 340px;
  }

  .description__title {
    font-size: 32px;
    line-height: 39px;
  }

  .description__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .description__link {
    margin-top: 19px;
    font-size: 24px;
    line-height: 29px;
    padding: 28px 30px;
  }
}

@media all and (max-width: 800px) {
  .description__title {
    font-size: 28px;
    line-height: 32px;
  }

  .description__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .description__link {
    font-size: 22px;
    line-height: 26px;
  }
}

@media all and (max-width: 768px) {
  .description {
    max-width: calc(100% - 48px);
  }

  .description__img {
    width: 266px;
    height: 271px;
  }

  .description__title {
    font-size: 22px;
    line-height: 27px;
  }

  .description__subtitle {
    margin-top: 8px;
    font-size: 18px;
    line-height: 22px;
  }

  .description__link {
    margin-top: 24px;
    font-size: 18px;
    line-height: 22px;
    padding: 19px 17px;
  }
}

@media all and (max-width: 600px) {
  .description {
    flex-direction: column-reverse;
    align-items: center;
  }

  .description__img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
  }

  .description__link {
    padding: 19px 40px;
    margin-left: auto;
  }

  .description__title {
    text-align: center;
  }

  .description__subtitle {
    text-align: center;
  }
}

@media all and (max-width: 425px) {
  .description {
    max-width: calc(100% - 32px);
    flex-direction: column;

  }

  .description__img {

  }

  .description__link {
    display: none;
  }
}
