.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 368px;
  height: 102px;
  align-self: start;
}

.header__column-delivery {
  max-width: 261px;
  display: grid;
  grid-template-columns: 53px minmax(auto, 189px);
  gap: 7px 19px;
}

.header__icon-delivery {
  width: 53px;
  height: 56px;
  grid-row: 1/3;
}

.header__text-delivery {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
  grid-column: 2/3;
}

.header__column-contacs {
  max-width: 226px;
  display: grid;
  grid-template-columns: 37px max-content;
  gap: 7px 21px;
  align-items: center;
}

.header__icon-contacs {
  width: 37px;
  height: 37px;
}

.header__text-contacs {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

@media all and (max-width: 1280px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .header__logo {
    width: 289px;
    height: 82px;
  }

  .header__column-delivery {
    gap: 10px 4px;
  }

  .header__icon-delivery {
    width: 48px;
    height: 49px;
  }

  .header__column-contacs {
    gap: 3px 5px;
  }

  .header__icon-contacs {
    width: 32px;
    height: 32px;
  }
}


