.header {
  max-width: 1184px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 368px;
  height: 102px;
  align-self: start;
  object-fit: contain;
}

.header__column-delivery {
  max-width: 261px;
  display: grid;
  grid-template-columns: 53px minmax(auto, 189px);
  gap: 7px 19px;
}

.header__icon-delivery {
  width: 53px;
  height: 56px;
  grid-row: 1/3;
}

.header__text-delivery {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
  grid-column: 2/3;
}

@media all and (max-width: 1280px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .header__logo {
    width: 289px;
    height: 82px;
  }

  .header__column-delivery {
    gap: 10px 4px;
  }

  .header__icon-delivery {
    width: 48px;
    height: 49px;
  }
}

@media all and (max-width: 930px) {
  .header__column-delivery {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    margin-top: 15px;
  }

  .header__logo {
    width: 270px;
    height: 70px;
  }
}

@media all and (max-width: 600px) {
  .header__logo {
    width: 230px;
    height: 60px;
  }
}

