.header {
  max-width: 1184px;
  margin: 30px auto 0 auto;
  background-color: #ffffff;
  z-index: 9;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 368px;
  height: 102px;
  align-self: start;
  object-fit: contain;
}

.header__column-delivery {
  max-width: 261px;
  display: grid;
  grid-template-columns: 53px minmax(auto, 189px);
  gap: 7px 19px;
}

.header__icon-delivery {
  width: 53px;
  height: 56px;
  grid-row: 1/3;
}

.header__text-delivery {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17b111;
  grid-column: 2/3;
}

.header__container-mobile {
  max-width: 100%;
  margin: 0 auto;
  display: none;
  flex-direction: row;
}

.header__btn-cart {
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 15px 15px 17px 15px;
  background-image: url('../../images/cart_null.png');
  background-size: 32px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__btn-cart_type_full {
  background-image: url('../../images/cart-full.png');
}

.header__link {
  width: 20px;
  height: 20px;
  margin: auto 0 auto 5px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  /* Скрыт текст внутри ссылок с картинками,
  чтобы eslint не ругался и они были доступны для чтения с экрана */
  font-size: 0;
}

.header__link:first-child {
  margin-left: 20px;
}

.header__link_type_tel {
  background-image: url('../../images/icon-phone-mobile.svg');
}

.header__link_type_email {
  background-image: url('../../images/icon-email-mobile.svg');
}

.header__btn-menu {
  width: 32px;
  height: 25px;
  margin: auto 0;
  padding: 15px 15px 17px 15px;
  box-sizing: content-box;
  background-color: transparent;
  background-image: url('../../images/icon-menu.svg');
  background-size: 32px 25px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
}

.header__btn-menu:hover {
  background-color: #17b111;
  background-image: url('../../images/icon-menu-white.svg');
}

@media all and (max-width: 1280px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .header__logo {
    width: 289px;
    height: 82px;
  }

  .header__column-delivery {
    gap: 10px 4px;
  }

  .header__icon-delivery {
    width: 48px;
    height: 49px;
  }
}

@media all and (max-width: 930px) {
  .header__column-delivery {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    margin-top: 15px;
  }

  .header__logo {
    width: 270px;
    height: 70px;
  }
}

@media all and (max-width: 600px) {
  .header__logo {
    width: 230px;
    height: 60px;
  }
}

@media all and (max-width: 425px) {
  .header {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #17b111;
    position: sticky;
    top: 0;
    left: 0;
  }

  .header__container {
    display: none;
  }

  .header__logo {
    width: 105px;
    height: 25px;
    margin: auto 0;
    object-fit: cover;
  }

  .header__container-mobile {
    display: flex;
  }
}
