.video {
  max-width: 100%;
  margin: 0 auto;
}

.video__container {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
}

.video__title {
  max-width: 726px;
  margin: 0 auto 62px auto;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

.video__list {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  gap: 72px 75px;
}

.video__iframe {
  border: 0;
  width: 100%;
  height: 411px;
}

@media all and (max-width: 1280px) {
  .video__container {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .video__title {
    font-size: 52px;
    line-height: 63px;
    margin-bottom: 54px;
  }

  .video__list {
    gap: 63px 59px;
  }

  .video__iframe {
    height: 360px;
  }
}

@media all and (max-width: 900px) {
  .video__list {
    gap: 50px 46px;
  }

  .video__iframe {
    height: 300px;
  }
}

@media all and (max-width: 768px) {
  .video__container {
    max-width: calc(100% - 48px);
    padding-top: 27px;
  }

  .video__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
  }

  .video__list {
    max-width: 486px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    row-gap: 38px;
  }

  .video__iframe {
    height: 347px;
  }
}

@media all and (max-width: 425px) {
  .video__container {
    padding-top: 25px;
  }

  .video__title {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 15px;
  }

  .video__list {
    row-gap: 15px;
  }

  .video__iframe {
    height: 225px;
  }
}
