.video {
  max-width: 100%;
  margin: 0 auto;
}

.video__container {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
}

.video__title {
  max-width: 726px;
  margin: 0 auto 62px auto;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

.video__list {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(432px, 552px) minmax(432px, 552px);
  gap: 72px 75px;
}

.video__iframe {
  border: 0;
  width: 100%;
  height: 411px;
}

@media all and (max-width: 1280px) {
  .video__container {
    max-width: calc(100% - 96px);
  }
}
