.footer {
  max-width: 100%;
  margin: 0 auto;
}

.footer__container {
  max-width: 1184px;
  margin: 40px auto 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column-view {
  max-width: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  width: 100%;
  height: 88px;
  object-fit: contain;
}

.footer__copyright {
  max-width: 100%;
  margin: 14px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

.footer__columns {
  width: 458px;
  max-width: 458px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column-links {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__text-link {
  margin: 0 0 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

.footer__img-link {
  width: 40px;
  height: 40px;
}

@media all and (max-width: 1280px) {
  .footer__container {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .footer__column-view {
    max-width: 240px;
  }

  .footer__columns {
    max-width: 430px;
    margin-left: 70px;
  }
}


