.footer {
  max-width: 100%;
  margin: 0 auto;
}

.footer__container {
  max-width: 1184px;
  padding: 40px 0 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column-view {
  max-width: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  width: 100%;
  height: 88px;
  object-fit: contain;
}

.footer__copyright {
  max-width: 100%;
  margin: 14px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

.footer__columns {
  width: 458px;
  max-width: 458px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__column-links {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__text-link {
  margin: 0 0 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #17B111;
}

.footer__img-link {
  width: 40px;
  height: 40px;
}

@media all and (max-width: 1280px) {
  .footer__container {
    max-width: calc(100% - 96px);
  }
}

@media all and (max-width: 1024px) {
  .footer__container {
    padding: 32px 0 18px;
  }

  .footer__column-view {
    max-width: 240px;
  }

  .footer__columns {
    max-width: 430px;
    width: 430px;
    margin-left: 70px;
  }
}

@media all and (max-width: 768px) {
  .footer__container {
    max-width: calc(100% - 48px);
  }

  .footer__columns {
    max-width: 291px;
    width: 291px;
    margin-left: 20px;
  }

  .footer__column-links {
    max-width: 107px;
  }

  .footer__link {
    margin-bottom: 10px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }

  .footer__text-link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__img-link {
    width: 24px;
    height: 24px;
  }

  .footer__logo {
    width: 211px;
    height: 59px;
  }

  .footer__copyright {
    font-size: 10px;
    line-height: 12px;
  }
}

@media all and (max-width: 560px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__logo {
    display: none;
  }

  .footer__copyright {
    margin-top: 5px;
  }

  .footer__columns {
    max-width: 100%;
    width: 100%;
    margin: 0;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media all and (max-width: 425px) {
  .footer__container {
    max-width: calc(100% - 32px);
    padding: 15px 0;
  }

  .footer__columns {
    flex-direction: column;
  }

  .footer__link {
    margin-bottom: 5px;
  }

  .footer__column-links {
    margin-bottom: 15px;
  }

  .footer__copyright {
    margin-top: 15px;
  }
}
