.map {
  max-width: 100%;
  margin: 0 auto;
}

.map__title {
  max-width: 833px;
  margin: 0 auto;
  margin-top: 85px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #17B111;
  text-align: center;
}

.map__btn-list {
  max-width: 1105px;
  padding: 0;
  margin: 43px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.map__list-element {
  list-style: none;
  text-decoration: none;
  flex-basis: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.map__btn {
  padding: 22px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #8A8080;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.map__btn:hover {
  text-decoration: underline;
}

.map__btn_active {
  color: #17B111;
}

.map__iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

@media all and (max-width: 1024px) {
  .map__title {
    max-width: 667px;
    font-size: 32px;
    line-height: 39px;
    margin-top: 72px;
  }

  .map__btn-list {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }

  .map__btn {
    padding: 8px 0;
  }

  .map__iframe {
    height: 360px;
  }
}

@media all and (max-width: 768px) {
  .map__title {
    max-width: 530px;
    font-size: 28px;
    line-height: 34px;
  }

  .map__btn-list {
    margin-top: 16px;
  }

  .map__btn {
    font-size: 18px;
    line-height: 22px;
  }

  .map__iframe {
    height: 274px;
  }
}

@media all and (max-width: 500px) {
  .map__btn {
    font-size: 14px;
    line-height: 18px;
  }
}
