.cart-form__container {
  max-width: 635px;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.cart-form__container-shorts {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10px 35px;
}

.cart-form__container-longs {
  max-width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.cart-form__item-input {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.cart-form__item-input_long_full {
  max-width: 100%;
}

.cart-form__input-name {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #17B111;
}

.cart-form__input {
  max-width: 100%;
  margin-top: 10px;
  padding: 12px 15px;
  outline: none;
  border: 0;
  background-color: #F4F4F4;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.cart-form__input_type_field {
  min-height: 154px;
  resize: none;
}

.cart-form__error-message {
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: red;
}

.cart-form__btn {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  padding: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8D8484;
  cursor: pointer;
  background-image: url(../../images/icon-arrow-cart.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 36px center;
  transition: 0.3s;
}

.cart-form__btn:hover {
  background-color: #17B111;
  background-image: url(../../images/icon-arrow-cart-white.svg);
  color: #ffffff;
}

@media all and (max-width: 1024px) {
  .cart-form__container {
    max-width: 545px;
  }

  .cart-form__container-shorts {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px 25px;
  }

  .cart-form__container-longs {
    margin-top: 10px;
    row-gap: 10px;
  }

  .cart-form__input-name {
    font-size: 19px;
    line-height: 23px;
  }

  .cart-form__input {
    font-size: 17px;
    line-height: 21px;
  }

  .cart-form__error-message {
    font-size: 13px;
    line-height: 16px;
  }
}

@media all and (max-width: 768px) {
  .cart-form__container {
    max-width: 300px;
  }

  .cart-form__container-shorts {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px 25px;
  }

  .cart-form__container-longs {
    margin-top: 10px;
    row-gap: 10px;
  }

  .cart-form__input-name {
    font-size: 17px;
    line-height: 21px;
  }

  .cart-form__input {
    font-size: 15px;
    line-height: 18px;
  }

  .cart-form__error-message {
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 500px) {
  .cart-form__container {
    max-width: 100%;
    margin: 15px 24px 0 24px;
  }

  .cart-form__container-longs {
    margin-top: 10px;
    row-gap: 10px;
  }

  .cart-form__input-name {
    font-size: 16px;
    line-height: 19px;
  }

  .cart-form__input {
    font-size: 15px;
    line-height: 18px;
    padding: 12px 10px;
  }

  .cart-form__error-message {
    font-size: 13px;
    line-height: 16px;
  }

  .cart-form__btn {
    margin-top: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    line-height: 18px;
  }
}

@media all and (max-width: 425px) {
  .cart-form__container-shorts {
    grid-template-columns: 1fr;
    gap: 10px 25px;
  }

  .cart-form__item-input {
    max-width: 100%;
  }
}
